#tutorialNav {
border: thin solid black;
padding: 10px;
}

#tableContainer {
	display: table;
	border-spacing:10px;
	width:100%;
}

#tableRow {
	display: table-row;
}

nav#navigation {
	display: table-cell;
	background-color: #efe5d0;
	padding:  0px;
	text-align: center;
	vertical-align: top;
	width: 20%;
	
}

nav p { /*spaces out the links in the navigation*/
	padding: 10px;
	margin: 5px 0px;
}

nav a:link, nav a:visited {
	color: #954b4b;
	border-bottom: none;
	font-weight: bold;
	
	/* optional! very hard to see although does help */
	text-shadow: 1px 1px 3px #e2c2c2;
	
	text-transform: uppercase;
}

section#content {
	display: table-cell;
	background-color: #efe5d0;
	padding: 15px;
	vertical-align: top;
	width: 80%;
}

.selected {
	background-color: #c8b99c;
}

.jobTitle {
	font-weight: bold;
}

.jobCompany {
	font-style: italic;
}

.jobDuration {
	color: gray;
}

.additionalNotes {
	font-size: 75%;
	color: gray;
}
dl dd ul li { /*mainly used for the work history, list of additional duties*/
	line-height: 2em;
}

body {
	font-family: sans-serif;
	background-color: #b5a789;
}

header h1 {
	color: #efe5d0;
}

header{
	background-color: #675c47;
	background-image: url("images/UCR_logo.png");
	background-size: auto 90%; /*auto size width 100% of height*/
	background-position-x: 10px;
	background-position-y: center;
	background-repeat: no-repeat;
	
	text-align: center;
	padding: 3px;
	margin-left:10px;
	margin-right:10px;
	color: #efe5d0;
	
}

footer {
  background-color: #675c47;
  color:            #efe5d0;
  text-align:       center;
  padding:          15px;
  margin: 0px 10px 10px 10px;
  font-size:        90%;
}

table {
	margin-left: 20px;
	margin-right: 20px;
	border: thin solid black;
	caption-side: top;
	border-collapse: collapse; /*to prevent borders from overlapping*/
}

th {
	background-color: #c8b99c;
}

td, th {
	border: thin dotted gray;
	padding: 5px;
}

table#UCR_course_table td:nth-child(2),
table#selfTaughtClasses td:nth-child(2),
table#selfTaughtClasses td:nth-child(3) {
	text-align:center;
}

table#UCR_course_table td:nth-child(3),
table#selfTaughtClasses td:nth-child(4),
table#selfTaughtClasses td:nth-child(5),
{
	text-align:right;
}

caption {
	font-style: italic;
	padding-top: 8px;
}

img#profilePic {
	float: right;
	padding: 5px 10px 5px 5px;
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

h1, h2, h3 {
	color: #954b4b;
}

a:link {
  color:            #b76666;
  text-decoration:  none;
  border-bottom:    thin dotted #b76666;
}
a:visited {
  color:            #675c47;
  text-decoration:  none;
  border-bottom:    thin dotted #675c47;
}

#slide {
	display: table;
	border-spacing: 30px;
}

#tableRow {
	display: table-row;
}

#codeSection {
	display: table-cell;
	font-family: monospace;
	background-color: beige;
	padding: 10px;
}

#commentSection {
	display: table-cell;
	background-color: grey;
	width: 300px;
	padding: 10px;
}



h1#lessonSpace {
	border-bottom: thin dotted black;
}



.code {
	font-family: monospace;
	font-weight: bold;
	border: thin solid black;
	background-color: beige;
	padding: 10px;
}

.newCode {
	color: salmon;
}

.comment {
	color: green;
	font-weight: normal;
	
}

#questions {
	/*position: absolute;*/
	/*top: 95%;*/
}