#slide {
	display: table;
	border-spacing: 30px;
}

#tableRow {
	display: table-row;
}

#codeSection {
	display: table-cell;
	background-color: beige;
	padding: 10px;
}

#commentSection {
	display: table-cell;
	background-color: grey;
	width: 300px;
}

body {
	font-family: sans-serif;
	background-color: #b5a789;
}

h1 {
	border-bottom: thin dotted black;
}



.code {
	font-family: monospace;
	font-weight: bold;
	border: thin solid black;
	background-color: beige;
	padding: 10px;
}

.newCode {
	color: salmon;
}

.comment {
	color: green;
	font-weight: normal;
	
}

#questions {
	position: absolute;
	top: 95%;
}